* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Inter", sans-serif;
  font-size: 16px;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center; /* center main horizontally */
  background: #f4f5fb;
  color: #111;
}

main {
  display: flex;
  flex-direction: column;  /* STACK elements vertically */
  align-items: center;     /* center items horizontally */
  gap: 1rem;               /* space between elements */
  width: 100%;
  max-width: 60%;        /* nice app width */
  padding: 4rem 2rem;
}

#logo img {
  width: 150px;
  height: auto;
}

.go-back {
  align-self: flex-start;   /* move to the left inside flex column */

  background: none;         /* remove button background */
  border: none;             /* remove border */
  padding: 0;

  color: #555;
  font: inherit;            /* keep same font as page */
  cursor: pointer;
  text-decoration: none;
}

.main-title{
  align-self: flex-start;   /* move to the left inside flex column */
  font: inherit;            /* keep same font as page */
  font-weight: bold;
  size: 24px;

}

.input-group {
  display: flex;
  width: 100%;
  gap: 0.5rem;
}

.input-group input {
  flex: 1; /* takes remaining space */
  padding: 0.6rem;
}

.input-group button {
  padding: 0.6rem 1rem;
}
